thead th {
	background-color: #bbbbbb;
}

th, td {
	padding-top: 1px;
	padding-bottom: 1px;
	min-width: auto;
}

a {
	color: #18bc9c;
}

.main-content .anchor-heading svg {
	color: #18bc9c !important;
}

.site-button .icon {
	color: #18bc9c;
}

.search-input:focus+.search-label .search-icon
{
	color: #18bc9c;
}

.side-bar {
	background: #2c3e50 !important;
}

.side-bar a {
	color: #ffffff !important;
}

.nav-list-link:hover, .site-title:hover, .site-button:hover, .nav-list-expander:hover {
	background-image: none !important;
	color: #18bc9c !important;
}

.nav-list-link.active {
	background-image: none !important;
	background: #1a242f !important;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

div.highlighter-rouge {
	background-color: #ecf0f1 !important;
	border: 1px solid #cccccc;
	color: #7b8a8b;
}

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
	color: #2c3e50 !important;
}

code {
	background-color: transparent !important;
}

#markdown-toc {
	border: 1px solid #ccc;
}

#markdown-toc li {
	padding-left: 1.5em;
}
