/*
 * Side Bar and Navigation
 */

.side-bar, 
.site-footer {
	background: #2c3e50 !important;
}

.side-bar a, 
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link,
.nav-list-expander svg,
.site-button .icon {
	color: #ffffff;
}

.side-bar a:hover,
.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link:hover,
.nav-list-expander svg:hover {
	text-decoration-color: rgba(24, 188, 156, 0.45);
	color: #18bc9c;
}

.nav-list-link:hover,
.site-title:hover,
.site-button:hover,
.nav-list-expander {
	background-image: none !important;
}

.nav-list-link.active {
	background-image: none !important;
	background: #1a242f;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}


/*
 * Primary Content
 */

body {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #2c3e50;
}

.main a {
	color: #18bc9c;
}

.main a:hover {
	text-decoration-color: rgba(24, 188, 156, 0.45);
}

.main-content .anchor-heading svg {
	color: #18bc9c;
}

.main-content h1,
.main-content h2 {
	margin-bottom: 1.5em;
}

.search-input:focus+.search-label .search-icon {
	color: #18bc9c;
}

div.highlighter-rouge {
	background-color: #ecf0f1;
	border: 1px solid #cccccc;
}

code {
	background-color: transparent !important;
}


/*
 * Table of Content
 */

#markdown-toc {
	border: 1px solid #ccc;
}

#markdown-toc li {
	padding-left: 1.5em;
}


/*
 * Tables
 */

thead th {
	background-color: #bbbbbb;
}

th, td {
	padding-top: 1px;
	padding-bottom: 1px;
	min-width: auto;
	font-size: 13px !important;
}
